*{
}
.cabecera{
    position: absolute;
    top:0;
    left:0;
    height: 20%;
    width: 100%;
    background-color: aqua;
    border:solid black;
}
.navegacion{
    position: absolute;
    top:20%;
    left: 0;
    height: 60%;
    width: 20%;
    background-color: blue;
    margin-top: 10px;
}
.menu{
    border: solid black;
    margin:1px auto;
    background-color: blueviolet;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cajagrande{
    position: absolute;
    top:20%;
    left: 20%;
    width: 80%;
    background-color:crimson;
    margin-top: 10px;
}